html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}
img {
	border-style: none;
}

body {
	background-color: #8a438a;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	background-image: url(/images/purple/body-bg.png);
	background-repeat: repeat-x;
	background-position: top;
}
h1 {
	color: #333333;
	font-size: 24px;
	font-weight: normal;
	line-height: 28px;
	letter-spacing: -1px;
}
h2 {
	color: #666666;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 5px;
}
a,  a:link {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
a:focus {
	color: #666666;
}
a:active {
	color: #666666;
}
#outerWrapper {
	text-align: left;
	width: 920px;
	background: #fff url(/images/purple/content-bg.png) repeat-y left 13px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#outerWrapper #gradient {
	background-image: url(/images/purple/gradient-shadow.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#header  {
	height: 80px;
	background-image: url(/images/purple/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-left: 20px;
}
#header   #logo {
	color: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: normal;
	padding-top: 10px;
	padding-left: 0px;
	line-height: 50px;
	float: left;
	width: 480px;
}
#header #links{
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	float: right;
	width: 400px;
	text-align: right;
	margin-top: 25px;
	padding-right: 15px;
}
#links a, #links a:active, #links a:visited {
	font-weight: normal;
	color: #DCDCDC;
}
#header #links a:hover {
	color: #939CA1;
	text-decoration: none;
}

#nav    {
	height: 62px;
	margin-right: 20px;
	margin-left: 20px;
	color: #FFFFFF;
	background-color: #CCCCCC;
	background-image: url(/images/purple/nav-bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D7D7D7;
	border-left-color: #D7D7D7;
	margin-bottom: 0px;
}
#nav ul {
	margin: 0px;
	padding: 0px;
}
#nav ul li {
	margin: 0px;
	display: block;
	float: left;
	list-style: none;
	clear: right;
}
#nav ul li a {
	display: block;
	padding-right: 17px;
	padding-left: 17px;
	text-align: center;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 62px;
	font-weight: normal;
	background-image: url(/images/purple/nav-border.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
#nav ul li a:hover, #nav ul li a.hover {
	background: url(/images/purple/nav-hover.jpg) repeat-x top;
	text-decoration: none;
	color: #FFFFFF;
}
#nav ul li#active {
	background: url(/images/purple/nav-hover.jpg) repeat-x top;
	text-decoration: none;
}
#nav ul li#active a {
	color: #FFFFFF;
}
.subpage-navimage {
	float: right;
}

#spacer {
	background-image: url(/images/purple/nav-spacer.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 27px;
}

#outerWrapper #feature {
	height: 230px;
	width: 880px;
	margin-left: 20px;
	margin-bottom: 5px;
	background-image: url(/images/purple/feature.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#outerWrapper #contentWrapper {
	padding-right: 25px;
	padding-left: 25px;
	clear: both;

}
#outerWrapper #contentWrapper #leftColumn1 {
	float: left;
	padding: 0px;
	width: 200px;
}
#outerWrapper #contentWrapper #content {
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 205px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 15px;
}
#content-image {
	margin-bottom: 15px;
}

#content ul li {
	margin-bottom: 5px;
}
.clearFloat   {
  clear: both;
  display: block;
}
#outerWrapper #footer {
	background: url(/images/purple/footer-bg.png) no-repeat left top;
	height: 60px;
	color: #666666;
	text-align: center;
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#leftColumnContent {
	padding: 10px 0px 10px;
	width: 200px;
}
#leftColumnContent h3 {
	border: 1px solid #EAEAEA;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	padding-right: 4px;
	padding-left: 4px;
	background-image: url(/images/purple/sidebar-h3-bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

#leftColumn1 ul {
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#leftColumn1 ul li {
	list-style: none;
	display: inline;
}#leftColumn1 ul li a {
	display: block;
	padding: 4px 4px 4px 10px;
	background: url(/images/purple/li-dot.gif) no-repeat left top;
}
#leftColumn1  ul li a:hover {
	text-decoration: none;
	background-color: #EFEFEF;
	background-image: url(/images/purple/li-dot.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.fltlft {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.fltrt {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.sidebarlt {
	padding: 6px;
	border: 1px solid #C6CCD9;
	background-color: #F3F3F3;
}
.sidebardk {
	color: #FFFFFF;
	border: 1px solid #666666;
	padding: 6px;
	background-color: #999999;
}
.sidebardk a, .sidebardk a:hover, .sidebardk a:visited, sidebardk a:active {
	color: #FFFFFF;
}

#footer a, #footer a:hover, #footer a:visited, #footer a:active {
	color: #666666;
}
#credit {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 8px;
	font-size: 11px;
	color: #333;
	width: 920px;
	margin-right: auto;
	margin-left: auto;
}
#credit a, #credit a:hover, #credit a:visited, #credit a:active, #credit a:focus {
	color: #333;
	font-weight: normal;
}

#leftColumn1 ul li a.hover {
    background-color: #DEDEDE;
}